<div class="h-full bg-slate-100 flex flex-col gap-2 px-4 py-6">

  <div class="searchBox flex flex-row items-center bg-white border rounded-xl px-1">
    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
      <path
        d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
    </svg>
    <input [(ngModel)]="searchValue" name="searchValue" class="outline-none pl-1 py-1" type="text" id="searchBook"
      title="searchBook">


  </div>


  <div>
    <div class="title text-xl font-bold font-kontum">Book by Genre</div>
    <div class="category flex flex-col gap-2 font-kontum mt-4">
      <div class="hover:bg-white hover:text-yellow-500 border-l border-l-yellow-500 pl-4 text-xl rounded-sm">All Genres
      </div>
      <div class="hover:bg-white hover:text-yellow-500 border-l border-l-yellow-500 pl-4 text-xl rounded-sm">bussiness
      </div>
      <div class="hover:bg-white hover:text-yellow-500 border-l border-l-yellow-500 pl-4 text-xl rounded-sm">Science
      </div>
      <div class="hover:bg-white hover:text-yellow-500 border-l border-l-yellow-500 pl-4 text-xl rounded-sm">Fiction
      </div>
      <div class="hover:bg-white hover:text-yellow-500 border-l border-l-yellow-500 pl-4 text-xl rounded-sm">Philisophy
      </div>
      <div class="hover:bg-white hover:text-yellow-500 border-l border-l-yellow-500 pl-4 text-xl rounded-sm">Biography
      </div>
    </div>
  </div>
</div>